/* Footer */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');


.pie-pagina{
    width: 100%;
    height: 356px;
    background-color: #242424;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1800px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    padding: 55px 0px;
}


.pie-pagina .grupo-1 .box h2{
    color: #ffff;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Poppins';
}

.pie-pagina .grupo-1 .box ul{
    list-style: none;
}

.pie-pagina .grupo-1 .box ul li a{
    text-decoration: none;
    font-size: 15px;
    margin-left: -2px;
    color: #ffff;
    transition: all 0.6s ease;
    font-family: 'Poppins';
}

.pie-pagina .grupo-1 .box ul li a:hover{
    color: #005555;
    transition: all 0.6s ease;
}

